/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 90px;
  font-family: "UD デジタル 教科書体 N-R", "UD Digi Kyokasho NP-R";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}



.flex_header{
  position: fixed;
  top: 0;
  left: 0;      /* ビューポートの左端に配置 */
  width: 100%;  /* ビューポートの全幅に広げる */
  z-index: 1000; /* 他の要素よりも前面に表示するためのz-indexの値 */
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.flex_header-logo {
  font-size: 36px;
  float: left;
  padding: 0 40px;
  line-height: 90px;
}

.flex_list {
  display: flex;
  height: 90px;
}

.logged_in {
  font-size: 15px;
  float: left;
  padding: 0 10px;
  line-height: 90px;
  color: darkred;
}

.flex_list li {
  display: flex;
  padding: 33px 20px;
}

.footer {
  width: 100%;
  border-top: 1px solid #eee;
  clear: left;
  background: #26d0c9;
}

.up20{
  padding-top: 20px;
}

.footer_copyright{
  font-size: 0.6rem;
}

.main{
  background: #f9fbfe;
}

.pg-container{
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0;
  min-height: 300px;
  letter-spacing: .04em;
}

.dashboard-container {
  display: flex;
  max-width: 1170px;
  margin: 0  auto;
  padding: 0 2.8%;
}

.debug-info {
  background-color: #ff6347;
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
}


/* フォーム関連のスタイル */

.form-control {
  display: block; /* ブロック要素として全幅を占めるように */
  /*width: 100%; 幅を最大化 ←今はいらない*/
  margin: 10px 0; /* 上下にマージンを設定 */
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

label {
  display: block; /* ラベルをブロック要素として */
  margin-top: 15px; /* 上にマージンを追加 */
  margin-bottom: 5px; /* 下に少しマージンを追加 */
}

.btn {
  display: block; /* ボタンもブロック要素として */
  /*width: 100%; 幅を最大化 ←今はいらない*/
  padding: 10px 15px;
  margin-top: 20px; /* 上にマージンを追加 */
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  width: 10%;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}