<footer class="footer">
  <div class="footer-main up20 down20">
    <div class="row">
      <ul class="flex_list">
      <li>About</li>
      <li>How To</li>
      <li>Contact Us</li>
    </ul>
    <div class="footer_copyright">
    ©︎ 2023 Plus ONE, Inc.
    </div>
  </div>
</footer>