<div class="flex_header">
  <%#<header class="header">%>
    <div>
      <div class="flex_header-logo">
        <%= link_to "Plus ONE", root_path, id: "logo" %>
      </div>
      <nav class="flex_header-list">
        <ul class="flex_list">
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "How To",   '#' %></li>
          <li><%= link_to "Log In",   '#' %></li>
        </ul>
      </nav>
    </div>
  <%#</header>%>
</div>